* {
	box-sizing: border-box;
}

body{
	font-family:"Times New Roman", times, serif;
	background-color:#white;
	color:#070807;
}

h2{
	font-weight:normal;
	border-bottom:2px solid #070807;
	text-align:left;
}

a{
	text-decoration:none;
	color:#070807;
	transition:color 0.25s;
}

a:hover{
	color:gray;
}

img{
	max-width:100%;
	max-height:80vh;
}

.container{
	padding:0;
	margin:0;
	width:100%;
	overflow:auto;
}

.top-nav{
	display:block;
	width:100%;
	padding:10px;
}

.top-nav a{
	font-size:30px;
}

.text-content{
	width:25%;
	margin-left:25%;
}

.image-content{
	width:100%;
	padding:1%;
	text-align:center;
}

.card{
	display:inline-block;
	margin:0 20px 20px 0;
	width:30%;
	/*box-shadow:2px 2px 4px #070807*/;
}

.atom{
	display:inline-block;
	margin: 0 20px 20px 0;
	width:50%
}

.linklist{
	display:inline-block;
	width:25%;
	text-align:center;
	margin-left:25%;
}

.linklist a{
	display:block;
}

.bigimg{
	display:inline-block;
	width: 75%;
	height:90%;
	float:left;
	text-align:center;
	margin-top:5%;
	padding-left:5%;
	padding-right: 5%;
}

.walltext{
	width:25%;
	float:right;
	right:0;
	bottom:0;
	margin-bottom:1%;
	margin-top:25%;
}
