* {
	box-sizing: border-box;
}

body{
	font-family:"Times New Roman", times, serif;
	background-color:white;
	color:#070807;
}

h1{
	text-transform:uppercase;
	font-weight:normal;
}

.container{
	padding:0;
	margin:0;
	width:100%;
	overflow:auto;
}

.title-container{
	display:inline-block;
	width:25%;
	margin-top:5%;
	text-align:center;
}

.title-container a{
	display:block;
	margin-top:10px;
	text-decoration:none;
	color:#070807;
	transition:color 0.25s;
}

.title-container a:hover{
	color:gray;
}

.title-image{
	width:66%;
	float:right;
	margin-top:5%;
	padding-left:5%;
}

img{
	width:100%;
}



